Bonjour {{ user.firstname }},

Vous avez oubié votre mot de passe ? Nous venons de vous en attribuer un nouveau.

------------------------------------------------------------------
Nouveau mot de passe : {{ newPassword }}

------------------------------------------------------------------

Vous pouvez à nouveau <a href="{{ path('account_login') }}">vous connecter à notre site</a>. Vous vous recommandons de vous rendre dans votre espace personnel pour mettre à jour un mot de passe qui vous corresponde mieux.

------------------------------------------------------------------
{{ appService.getParams.getTitle }} réalisé avec Morgane