{% extends 'base.html.twig' %}
{% block title %}Récupération du mot de passe.{% endblock %}
{% block introHome %}{% endblock %}

{% block main %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{label}}">
				{{message|raw}}
			</div>
		{% endfor %}
	{% endfor %}
	<div id="espaceIdentification" class="clearfix">
		<h1>Mot de passe réinitialisé</h1>
		<div style="margin: auto; width: 60%; border-radius: 5px; border: solid 1px #B0B0B0; padding: 0;">
			<p style="margin: 0; padding: 7px 10px; background-color: #990000; color: #fff;">Votre demande a bien été prise en compte.</p>
			<p style="margin: 0; padding: 7px 10px;">Vous allez recevoir dans quelques instants un e-mail qui contiendra votre nouveau mot de passe. N'hésitez pas à vérifier dans vos spams.</p>
		</div>
	</div>
{% endblock %}