{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}
{# le block suivant permet de garder une couleur noir pour la police du menu, utile pour la page d'accueil... #}
{% block bgHeader %}{% endblock %}
{% block slider %}
	<!-- Start Slider area -->
    <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
		<!-- Start Slider area -->
		<div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="slider__content">
							<div class="contentbox">
								<h2>{{ appService.params.title }},<br> <span>{{ appService.params.slogan }}</h2>
								<p>Notre mission : soutenir les nouveaux auteurs dans les aléas de l’édition, les aider à accomplir une aventure souvent méconnue, conquérir un cercle de lecteurs plus large, proposer une distribution fluide, rapide et étendue, cibler des professionnels du livre influents.<br>
								<a href="Pourquoi-nous-choisir.html">En savoir plus</a></p>
								<div class="depot-manuscrit">
									<p>
										<strong>
											<a href="http://www.livrestoryeditions.com/manuscript/envoyez-votre-manuscrit" class="btn btn-warning shopbtn">Déposer son manuscrit</a>
										</strong>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slide -->
	    <!-- Start Single Slide -->
		<!-- <div class="slide animation__style10 bg-image--7 fullscreen align__center--left">
		    <div class="container">
		       	<div class="row">
		       		<div class="col-lg-12">
		       			<div class="slider__content">
		        			<div class="contentbox">
		        				<h2>Buy <span>your </span></h2>
		        				<h2>favourite <span>Book </span></h2>
		        				<h2>from <span>Here </span></h2>
			                 	<a class="shopbtn" href="#">shop now</a>
		        			</div>
		       			</div>
		       		</div>
		       	</div>
		    </div>
			    </div> -->
	    <!-- End Single Slide -->
	</div>
	<!-- End Slider area -->
{% endblock %}
{% block main %}

{% endblock %}
