<form method="post" action="{{ path('authors_delete', {'id': author.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ligne ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn btn-danger"><i class="btn-label fas fa-trash" title="Supprimer" style="font-size: 16px;"></i></button>
</form>
