/** Affichage de la barre de retour à Morgane **/
#zoneAdmin {
	height: 35px;
	font-family: Arial, sans-serif;
}
#zoneAdmin #zoneHeader {
	background-color: #29323c;
	height: 35px;
	width: 100%;
	min-width: 600px;
	position: fixed;
	top: 0;
	left: 0;
	color: #ccc;
	z-index: 1100;
	font-size: 13px;
	line-height: 35px;
}
#zoneAdmin #logoMorgane {
	float: left;
	padding-left: 10px;
}
#zoneAdmin #accesSite p {
	float: left;
	margin: 0;
	padding: 0 10px;
	min-width: 180px;
	border-right: solid 1px #666;
	text-align: center;
}
#zoneAdmin #accesSite a {
	color: #ccc;
	text-decoration: underline;
}
#zoneAdmin #accesSite a:hover, #zoneAdmin #accesSite a:active {
	color: #FFF;
}
/* ==========================================================================
   Zone d'information de l'utilisateur connecté
   ========================================================================== */

/**********Message de Bienvenue*/
#utilisateurConnecte {
	float: right;
	margin: 0;
	padding: 0;
}
#utilisateurConnecte ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#utilisateurConnecte ul li {
	position: relative;
	float: left;
}
#utilisateurConnecte .salutations {
	background: #485563;
	padding: 0px 10px;
	border-left: solid 1px #666;
	border-right: solid 1px #000;
	cursor: pointer;
}
#utilisateurConnecte .salutations ul {
	display: none;
}
#utilisateurConnecte .salutations:hover ul {
	display: block;
	position: absolute;
	top: 35px;
	left: -1px;
	width: 100%;
}
#utilisateurConnecte .salutations ul li {
	background-color: #f2f2f2;
	width: 100%;
	padding: 0 10px;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}
#utilisateurConnecte .salutations ul a:link, #utilisateurConnecte .salutations ul a:visited {
	text-decoration: none;
	color: #06F;
	text-shadow: 0px 1px 0px #fff;
}
#utilisateurConnecte .salutations ul a:hover, #utilisateurConnecte .salutations ul a:focus, #utilisateurConnecte .salutations ul a:active {
	text-decoration: none;
	color: #036;
	text-shadow: 0px 1px 0px #fff;
}
#utilisateurConnecte .deconnexion {
	padding: 0 10px;
}
#utilisateurConnecte .deconnexion a {
	display: block;
	color: #000;
	background: #fff url(../admin/images/deconnexion.png) 5px center no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 12px;
	/*margin: 6px 0;*/
	line-height: 20px;
	padding: 3px 10px 3px 25px;
	margin-top: 4px;
	height: 20px;
}
#utilisateurConnecte .deconnexion a:hover {
	-webkit-box-shadow: inset 0px 2px 2px 0px #ccc ;
	box-shadow: inset 0px 2px 2px 0px #ccc ;
}
#utilisateurConnecte .deconnexion a:active {
	-webkit-box-shadow: inset 0px 2px 2px 0px ;
	box-shadow: inset 0px 2px 2px 0px ;
	background-color: #f00;
}