@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'itc_avant_garde_gothicbook';
    src: url('../fonts/avantgarde-book/avantgarde-book-webfont.eot');
    src: url('../fonts/avantgarde-book/avantgarde-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgarde-book/avantgarde-book-webfont.woff2') format('woff2'),
         url('../fonts/avantgarde-book/avantgarde-book-webfont.woff') format('woff'),
         url('../fonts/avantgarde-book/avantgarde-book-webfont.ttf') format('truetype'),
         url('../fonts/avantgarde-book/avantgarde-book-webfont.svg#itc_avant_garde_gothicbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne/Champagne & Limousines-webfont.eot');
    src: url('../fonts/champagne/Champagne & Limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne/Champagne & Limousines-webfont.woff2') format('woff2'),
         url('../fonts/champagne/Champagne & Limousines-webfont.woff') format('woff'),
         url('../fonts/champagne/Champagne & Limousines-webfont.ttf') format('truetype'),
         url('../fonts/champagne/Champagne & Limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: "BebasNeue";
	src: url('../fonts/BebasNeue.eot');
	src: local("/*"), url('../fonts/BebasNeue.otf') format("opentype"), url('../fonts/BebasNeue.woff') format("woff"), url('../fonts/BebasNeue.ttf') format("truetype");
}
@font-face {
  font-family: "garamond";
  src: url("../fonts/Garamond/garamond.eot") format("eot");
  src: url("../fonts/Garamond/garamond.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Garamond/garamond.woff") format("woff"),
  url("../fonts/Garamond/garamond.ttf") format("truetype"),
  url("../fonts/Garamond/garamond.svg#garamond") format("svg");
}

body {
	background: #F6F5F3;
}
#container {
	position: relative;
	/*background-color: #E9D5B2;*/
	margin: 0;
}
#contentHeader {
	position: absolute;
	width: 100%;
	background-size: cover;
	background-image: url(../images/vignobles.jpg);
	background-position: center 90%;
	height: 500px;
	border-bottom: solid 1px #999;
}
#container #menu_top {
	position: absolute;
	top: 63px;
	/*background-color: rgba(153, 0, 0, 0.7);*/
	background-color: rgb(153, 0, 0);
	height: 40px;
	width: 100%;
	z-index: 100;
}
#container #menu_top nav {
	width: 1080px;
	margin: 0 auto;
	padding: 3px;
	text-align: left;
}
#container #menu_top ul {
	/*height: 34px;*/
	margin: 0 0 0 240px;
	padding-top: 7px;
}
#container #menu_top li {
	display: inline;
}
#container div.header {
	position: relative;
	padding: 0;
	z-index: 110;
	/*background-color: #600;*/
	/*background: #C4A52B;*/
}
#container .header header {
	width: 1080px;
	height: 170px;
	margin: 0 auto;
	padding: 1px 0 0 0;
	position: relative;
	/*background: transparent url(../images/bh-header.png) center center no-repeat;*/
}
.header .enseigne h1 {
	width: 610px;
	height: 105px;
	margin: 10px 0;
	padding: 20px 10px 10px 10px;
	background-color: #E9F7FC;
	border-radius: 0 0 3px 3px;
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	border-left: solid 1px #e2e2e2;
	box-shadow:  7px 0px 15px #333, -7px 0px 20px #333;
	/*font-family: 'Courgette', cursive;*/
	/*font-family: 'Gruppo', cursive;*/
	/*font-family: 'Forum', cursive;*/
	font-family: 'garamond', 'champagne__limousinesregular', Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 26px;
	text-shadow: 0px 1px 0px #FFF;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}
.header .enseigne h1 img {
	float: left;
	/*margin-top: 10px;*/
}
.header .enseigne h1 span {
	padding-top: 15px;
	padding-bottom: 5px;
	/*float: right;*/
	text-align: center;
	display: block;
	width: 430px;
	margin-left: 172px;
	border-bottom: solid 2px #630303;
}
.header .enseigne h1 a {
	color: #630303;
	text-decoration: none;
}
.header .enseigne h2 {
	position: absolute;
	top: 73px;
	left: 190px;
	color: #333;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 0px 1px 3px #FFF, -1px 0px 3px #FFF, 1px 0px 3px #000, 0px -1px 3px #FFF;*/
	/*text-shadow: 1px 1px 1px #000;*/
	font-family: 'champagne__limousinesregular', Arial, Helvetica, sans-serif;
	margin: 15px 5px 5px 0px;
	font-size: 20px;
	width: 370px;
	letter-spacing: 5px;
	/*border: solid 1px #000;
	background-color: rgba(0, 0, 0, 0.5);*/
}
#zoneBoutique {
	position: absolute;
	top: 40px;
	right: 0;
}
#zoneBoutique ul {
	margin: 0;
}
#zoneBoutique li {
	display: inline;
}
#zoneBoutique a {
	display: block;
	float: left;
	background: #C4A52B;
	/*background-color: #600;*/
	border: solid 3px #fff;
}
#zoneBoutique a {
	height: 60px;
	width: 80px;
	padding-top: 20px;
	/*border: solid 1px rgba(214,219,191,1);*/
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 50px;
	line-height: 16px;
	/*letter-spacing: 3px;*/
}
#zoneBoutique .btnCompte a {
	margin-right: 10px;
	/*border: solid 1px rgba(214,219,191,1);
	border-right: none;*/
}
#zoneBoutique .btnPanier a {
	position: relative;
}
#zoneBoutique .btnPanier a span {
	background: #FFF;
	color: #000;
	margin-top: 2px;
	padding: 3px 7px;
	border-radius: 50px;
	display: inline-block;
	/*border: solid 1px rgba(214,219,191,1);*/
}
/**
* Gestion du menu principal
**/
#container .header nav > ul {
	width: 1080px;
	margin: 0 auto;
	padding: 0;
}
#container .header nav a {
	text-decoration: none;
	/*color: #fff;*/
	outline: none;
	/*transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;*/
	/*font-family: 'Great Vibes', cursive;*/
	font-family: 'Bad Script', cursive;
	text-shadow: 0px 2px 4px #000;
}
#container .header nav a:hover {
	/*color: #ff4a4a;*/
}
#wrapper {
	position: relative;
	top: 240px;
	width: 1080px;
	padding: 0;
	margin: 0 auto;
	box-shadow: 2px 0px 5px #999, -2px 0px 5px #999;
	/*background: #f2f2f2;*/
}
aside#listeCat {
	position: absolute;
	top: 10px;
	left: 5px;
	/*width: 190px;*/
	padding: 5px;
	background-color: #FFF;
	border-radius: 0 0 2px 2px;
	border: solid 1px #c8bfaf;
}
aside#listeCat h1 {
	height: 50px;
	width: 100%;
	background: rgba(196, 165, 43, 1) url(../images/nos-vins.png) center top no-repeat;
	text-indent: -9999px;
	margin: 0;
}
#content {
	/*position: relative;
	top: 0;
	left: 210px;
	width: 840px;*/
	background-color: #fff;
	padding: 10px 10px;
	min-height: 600px;
}
#wrapper #presentationDomaine {
	position: relative;
}
#wrapper #presentationDomaine .introDomaine {
	position: absolute;
	top: 150px;
	left: 20px;
	width: 35%;
	padding: 15px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid 1px #FFF;
}
#wrapper #presentationDomaine .introDomaine img {
	float: left;
	margin-right: 15px;
}
#wrapper #mainContent {
	padding: 40px;
}
#wrapper #mainContent h1 {
	font-family: 'Poiret One', cursive;
	font-size: 3em;
	line-height: normal;
}
#wrapper #mainContent .texteAccueil {
	/*padding: 40px;*/
	font-size: 12px;
	color: #666;
}
#wrapper #mainContent .texteAccueil img {
	padding: 0 0 20px 20px;
}
aside {
	width: 210px;
	float: left;
}
#menuCompte {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	/*background: #e2e2e2;*/
	/*border: solid 1px #990000;*/
}
#menuCompte li {
	border: solid 1px #e2e2e2;
	margin: 10px 0;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	border-radius: 5px;
}
#menuCompte li.active {
	padding: 5px 15px;
	color: #fff;
background: rgb(169,3,41); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
	border: solid 1px rgb(163,3,41);
	text-shadow: 0px 1px 0px #000;
}
#menuCompte li a {
	display: block;
	padding: 5px 15px;
	color: #333;
	text-decoration: none;
}
#menuCompte li.active a, #menuCompte li.active a:hover, #menuCompte li.active a:active {
	color: #fff;
}
#menuCompte li a:hover, #menuCompte li a:active {
	color: #900;
}
/* ==========================================================================
   Page catégorie des produits
   ========================================================================== */
.blocBouteillesParCategorie{
	float: left;
	width: 350px;
	margin:14px 10px 0px 0px;
	padding:0px;
	text-align:left;
	z-index: 0;
	overflow: hidden;
	position: relative;
	/*min-height: 230px;*/
	min-height: 310px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: dotted 1px #ccc;
	/*background-color: #e2e2e2;*/
}
#produitCover  { 
	float: left;
	width: 150px;
	margin: 0;
	padding: 0px;
	height: 200px;
	text-align: center;
	/*border: solid 1px #e2e2e2;
	background-color: #FFF;
	border-radius: 5px;*/
}
#produitCover img {
	/*max-width: 100%;*/
}
#produitDescShort h2 {
	font-size: 14px;
	margin: 0 0 10px 0;
	padding-left: 163px;
	text-transform:uppercase;
	font-weight:normal;
}
#produitDescShort h2 a:link {
	color:#a10303;
}
#produitDescShort h2 a:hover {
	color:#000;
}
#produitDescShort h2 a:visited {
	color:#a10303;
}
#produitDescShort p {
	font-size: 10px;
	color:#000;
	margin: 0;
	font-weight:normal;
	/*height: 60px;*/
	overflow: hidden;
	line-height: normal;
}
.resumeCourt {
	height: 150px;
	padding-left: 13px;
	overflow: hidden;
}
.zoneTarifProduit {
	width: 200px;
	margin-left: 140px;
}
.zoneTarifProduit .lienDetail { 
	display: block;
    font-size: 12px;
    /*margin-left: 84px;*/
	border-bottom: solid 2px #900;
	text-align: right;
	margin-bottom: 5px;
}
.zoneTarifProduit .lienDetail a {
	text-decoration: none;
}
.zoneTarifProduit .lienDetail a:link, .zoneTarifProduit .lienDetail a:visited {
	color: #000;
}
.zoneTarifProduit .lienDetail a:hover, .zoneTarifProduit .lienDetail a:active {
	color: #a10303;
}
.zonePromo  { 
	margin-left: 5px;
	text-align: right;
	min-height: 30px;
}
.zonePromo img {
	width: 54px;
	height: 27px;
	margin-right: 5px;
	float: right;
}
.prixttcBrut  { 
	float: right;
	font-size: 18px;
	color: #a10302;
	font-weight: normal;
	text-align: right;
	/*width: 100%;*/
	/*margin-left: 70px;*/
}
.prixttcBrut del {
	/*background-color: #f00;
	float: left;*/
}
.prixttcBrut + b {
	display: inline-block;
	float: right;
	margin-left: 10px;
	text-align: right;
	font-size: 1.1em;
	color: #FFF;
	font-weight: lighter;
	background: #900;
	border-radius: 3px;
	padding: 1px 5px;
	margin-bottom: 6px;
}
.prixttcNet { 
	float: right;
	width:175px;
	font-size: 26px;
	color:#000;
	font-weight:normal;
	text-align:right;
}
#prixpar6 { 
	float: right;
	width:175px;
	font-size: 11px;
	color:#000;
	font-weight:normal;
	text-align:right;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
	clear: both;
	text-align: center;
	padding-top: 2px;
}
.pagination span {
	border: solid 1px #36C;
	padding: 3px 6px;
	color: #FFF;
	background-color: #36C;
	-moz-border-radius: 2px;
}
.pagination span.firstNav, .pagination span.nextNav {
	background-color: #FFF;
	color: #999;
}
.pagination a {
	border: solid 1px #36C;
	padding: 3px 6px;
	color: #36C;
	text-decoration: none;
	-moz-border-radius: 2px;
}
/* ==========================================================================
   Page détail d'un produit
   ========================================================================== */
.contentDetailProduit {
	padding-left: 0px;
	padding-right: 32px;
	margin-bottom: 0;
	margin-left: 190px;
}
.contentDetailProduit h2 {
	font-size: 20px;
	color: #a10303;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 1px;
	padding-bottom: 10px;
	margin-bottom: 27px;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: dashed 1px #a10303;
}
.ficheProduit {
	/*margin-left: 300px;*/
	float: right;
	width: 520px;
}
.ficheProduit .tarifProduit {
	/*position: absolute;
	bottom: 0;
	right: 0;*/
	padding-right: 10px;
}
.ficheProduit del {
	text-decoration: line-through;
	font-size: 22px;
	color: #a10302;
	line-height: 46px;
	height: 46px;
	/*padding-right: 10px;*/
	text-align: right;
	display: block;
}
.ficheProduit del img {
	float: right;
	padding: 0 0 0 10px;
}
.ficheProduit .remiseMontant {
	width: 90px;
	height: 38px;
	margin-top: 3px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	background: #900;
	border-radius: 5px;
	color: #fff;
	font-size: 1.2em;
}
.ficheProduit .prixttc {
	/*clear: both;*/
	font-size: 24px;
	margin: 0;
	text-align: right;
}
.ficheProduit .prixttc + small {
	display: block;
	font-size: 11px;
	text-align: right;
}
.ficheProduit form {
	/*clear: both;*/
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.ficheProduit input[type="submit"] {
	background: #900;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	border: none;
	padding: 3px 7px;
	font-weight: lighter;
}
.ficheProduit .description {
	font-size: 11px;
	color: #777;
	text-align: left;
	/*width: 430px;*/
	margin: 20px 0;
	padding: 10px;
	border: solid 1px #a10302;
	border-radius: 3px;
	line-height: 14px;
}
.visuelProduit {
	position: relative;
	/*width: 230px;*/
	width: 230px;
	border-right: solid 1px #f2f2f2;
	float: left;
}
.visuelProduit .imagesProduits {
	position: relative;
	width: 230px;
	padding: 0;
	float: left;
	margin: 0;
}
.visuelProduit .imagesProduits p.imageCouverture {
	padding-left: 5px;
	text-align: center;
	margin: 0;
}
.visuelProduit .imagesProduits p.imageCouverture img {
	max-width: 100%;
}
.visuelProduit .imagesProduits p.imagesComplementaire span {
	display: block;
	float: left;
	padding: 1px;
	width: 50px;
	border: solid 1px #CCCCCC;
	margin: 3px;
}
.visuelProduit .imagesProduits p.imagesComplementaire span img {
	max-width: 100%;
}
/* ==========================================================================
   Page panier
   ========================================================================== */
#contenuPanier, .valideCommande {
	width: 90%;
	margin: 0;
}
#contenuPanier th {
	background-color: #900;
	color: #fff;
}
#contenuPanier th, #contenuPanier td {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
#contenuPanier tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
#contenuPanier .gestionQte {
	position: relative;
	border: solid 1px #d2d2d2;
	height: 25px;
	width: 90px;
	line-height: 25px;
}
#contenuPanier .gestionQte a {
	background: #e2e2e2;
	display: block;
	width: 25px;
	height: 100%;
	color: #000;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}
#contenuPanier .gestionQte a:hover {
	background: #d2d2d2;
}
#contenuPanier .gestionQte a:active {
	padding-top: 2px;
	height: 23px;
}
#contenuPanier .gestionQte div {
	position: absolute;
	top: 0;
	left: 25px;
	width: 40px;
	text-align: center;
	height: 100%;
}
#contenuPanier .gestionQte a.qteMoins {
	position: absolute;
	top: 0;
	left: 0;
}
#contenuPanier .gestionQte a.qtePlus {
	position: absolute;
	top: 0;
	left: 65px;
}
#contenuPanier tfoot {
	border: solid 1px #e2e2e2;
}
#contenuPanier tfoot .prixTotal {
	color: #a10303;
}
.valideCommande p {
	background: #900;
	border: none;
	font-weight: lighter;
	border-radius: 3px;
	text-align: center;
	margin-left: 70%;
}
.valideCommande p a {
	display: block;
	margin: 1px;
	border-top: solid 2px rgba(255, 255, 255, 0.5);
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	padding: 3px 7px;
	text-decoration: none;
	padding: 10px;
}
.btn {
	background: #900;
	border: none;
	font-weight: lighter;
	border-radius: 3px;
	text-align: center;
	display: block;
	margin: 1px;
	border-top: solid 2px rgba(255, 255, 255, 0.5);
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	/*padding: 3px 7px;*/
	padding: 10px;
	/* margin-left: 160px; */
}
/* ==========================================================================
   Page du choix de paiement
   ========================================================================== */
#moyenPaiement {
	border-collapse: collapse;
	margin: 10px auto;
}
#moyenPaiement tr {
	margin: 10px 0;
	border-radius: 5px;
	border: solid 1px #ccc;
}
#moyenPaiement td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}
/*#moyenPaiement .moyenPaiementElement {
	float: left;
	width: 80%;
}*/
#moyenPaiement .moyenPaiementImg {
	display: block;
	/*float: left;*/
	width: 75px;
	margin: 10px;
	text-align:center;
}
#moyenPaiement .moyenPaiementImg img {
	max-width: 100%;
}
#moyenPaiement .moyenPaiementTitre {
	display: block;
	font-weight: bold;
}
#moyenPaiement .moyenPaiementDescription {
	/*display: block;
	width: 60%;*/
	color: #666;
	/*float: left;*/
}
#moyenPaiement .valideCommande p {
	width: 270px;
	margin-left: 0;
	/*float: right;*/
}
/* ==========================================================================
   Page de vérification des adresse
   ========================================================================== */
/* ==========================================================================
   Page d'identification
   ========================================================================== */
#espaceIdentification form {
	margin: 10px;
	padding: 10px;
	float: left;
	/*background-color: #900;*/
	color: #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #900;
	font-size: 14px;
}
#espaceIdentification #identification {
	width: 40%;
}
#espaceIdentification .forgotPassword {
	font-size: 11px;
	margin-left: 160px;
}
#espaceIdentification #inscription {
	width: 40%;
}
#espaceIdentification #dataInscription {
	width: 100%;
}
#espaceIdentification fieldset {
	border: none;
	padding: 0;
}
#espaceIdentification #dataInscription legend {
	display: block;
	width: 100%;
}
#espaceIdentification legend {
	border-bottom: solid 1px #A90505;
	margin: 10px 0;
	padding-bottom: 1px;
	color: #A90505;
}
#espaceIdentification #dataInscription fieldset div {
	padding-left: 150px;
}
#espaceIdentification legend {
	font-size: 20px;
	padding-bottom: 10px;
	font-weight: bold;
}
#espaceIdentification label {
	display: block;
	/*width: 150px;
	float: left;
	text-align: right;*/
	margin-right: 10px;
	font-size: 16px;
	line-height: 25px;
}
.text-muted {
	color: #999;
}
#espaceIdentification #customer_user_gender,
#espaceIdentification #customer_profil_user_gender,
#espaceIdentification #customer_profil_user_birthday_gender,
#espaceIdentification #customers_addresses_complete_gender {
	display: flex;
}
#espaceIdentification .form-check {
	display: flex;
	margin-right: 10px;
	margin-left: 10px;
}
#espaceIdentification input[type='email'],
#espaceIdentification input[type='password'],
#espaceIdentification input[type='text'],
#espaceIdentification input[type='tel'],
#espaceIdentification textarea {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: block;
	border: solid 1px #CCCCCC;
	width: 300px;
	height: 25px;
	padding: 3px 7px;
}
#espaceIdentification textarea {
	min-height: 75px;
}
#espaceIdentification #dataInscription input[type='text'] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	display: block;
	border: solid 1px #CCCCCC;
	width: 200px;
}
input.error {
	border: solid 1px #000;
	box-shadow: 0px 0px 3px #F00;
}
.error {
	color: #F00;
	/*text-shadow: 0px 1px 2px #f00;*/
	/*color: #000;*/
	/*display: block;*/
	font-size: 1em;
}
#espaceIdentification input.error {
	color: #333;
	text-shadow: none;
}
form .champRequis:after {
	content: ' *';
	color: #F00;
}
#formInscription {
	margin: 10px;
	padding: 10px;
	color: #333;
	font-size: 14px;
}
#formInscription fieldset {
	/*-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #900;*/
	border: none;
}
#formInscription legend {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-top: 5px;
	font-weight: bold;
	border-bottom: dotted 1px #990000;
}
#formInscription div {
	width: 80%;
	margin: 0 auto;
}
#formInscription label {
	display: block;
	width: 250px;
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: 25px;
}
#formInscription label.labelInline {
	display: inline;
	width: inherit;
	float: none;
	text-align: inherit;
	margin-right: 0px;
}
#formInscription .alignChamp {
	margin-left: 260px;
}
#formInscription input[type='text'], #formInscription input[type='email'], #formInscription input[type='password'] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: solid 1px #CCCCCC;
	width: 300px;
	height: 25px;
	padding: 0 5px;
	margin-right: 10px;
}
.champBlock > input {
	display: block;
}
/* ==========================================================================
   Page de vérification de l'âge
   ========================================================================== */
.verifAge {
   background-color: #960;
   text-align: center;
   padding: 25px 0;
   width: 550px;
   margin: 0 auto;
   border-radius: 5px;
}
p.warningEnter {
	text-align: center;
}
p.warningEnter a {
   border-top: 1px solid #8da6b5;
   background: #c3cacf;
   background: -webkit-gradient(linear, left top, left bottom, from(#e8eaeb), to(#c3cacf));
   background: -webkit-linear-gradient(top, #e8eaeb, #c3cacf);
   background: -moz-linear-gradient(top, #e8eaeb, #c3cacf);
   background: -ms-linear-gradient(top, #e8eaeb, #c3cacf);
   background: -o-linear-gradient(top, #e8eaeb, #c3cacf);
   padding: 9px 18px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: #1f171f;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}
p.warningEnter a:hover {
   border-top-color: #cccccc;
   background: #cccccc;
   /*color: #828282;*/
   }
p.warningEnter a:active {
   border-top-color: #e0e0e0;
   background: #e0e0e0;
   }
.verifAge strong {
   display: block;
   color: #FFF;
   text-shadow: 0px 1px 0px #000;
   margin: 15px 0;
}
.verifAge .btn {
	margin: 0 auto;
}
.verifAge a {
	color: #fff;
	font-size: 12px;
}
.verifAge a:hover, .verifAge a:active {
	color: #CCC;
}


/* ==========================================================================
   Footer du site
   ========================================================================== */
footer {
	clear: both;
	/*width: 1080px;*/
	width: 100%;
	margin: 290px auto 0 auto;
	text-align: center;
	font-size: 11px;
	/*background: #000;*/
}
/**
* SECTION MON COMPTE
**/
.margeCompte {
	margin-left: 250px;
}
#carnetAdresse {
	border: solid 1px #e2e2e2;
	background-color: #f9f9f9;
	margin: 10px 0;
}
#carnetAdresse table {
	color: #666;
	margin: 0 15px;
	width: 40%;
	float: left;
}
#carnetAdresse th, #carnetAdresse td {
	padding: 20px 10px;
}
#carnetAdresse th {
	font-size: 1.5em;
	color: #333;
	border-bottom: solid 1px #666;
}
.avertissementMineur {
	background-color: #cd4040;
	color: #FFF;
	padding: 5px;
	text-shadow: 0px 1px 1px #000;
	font-size: 12px;
}
.avertissementMineur img {
	/*float: left;*/
	vertical-align: middle;
	margin: 0 0px;
}
/* ==========================================================================
   Page Contact
   ========================================================================== */
#donnees_contact article {
	line-height: 10px;
	font-size: 11px;
	width: 40%;
	padding: 15px;
	float: left;
}
#donnees_contact h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
	border-bottom: solid 1px #666;
	line-height: 16px;
}
#formulaire_contact {
	margin-top: 20px;
}
#formulaire_contact p {
	padding: 0 10px;
}
#formulaire_contact label {
	display: block;
	width: 210px;
	/*float: left;*/
	color: #2b2b2b;
	/*text-align: right;*/
}
#formulaire_contact input[type="text"], #formulaire_contact input[type="email"], #formulaire_contact textarea {
	width: 250px;
	border: solid 1px #ddd;
	color: #333;
	font-size: 12px;
	border-radius: 2px;
}
#formulaire_contact input[type="text"]:focus, #formulaire_contact input[type="email"]:focus, #formulaire_contact textarea:focus {
	border: solid 1px #009900;
}
#formulaire_contact input[type="text"], #formulaire_contact input[type="email"] {
	width: 370px;
	height: 30px;
}
#formulaire_contact textarea {
	width: 460px;
	min-height: 100px;
}

/* ==========================================================================
   Message d'alerte
   ========================================================================== */
.alert {
   	padding: 15px;
   	border-radius: 5px;
   	color: #fff;
}
.alert-success {
	background-color: #009F48;
	border: solid 1px #00843C;
}
.alert-danger {
	background-color: #CF2A31;
	border: solid 1px #AA1C22;
}
/* ==========================================================================
   Conditions générales de ventes
   ========================================================================== */
#bgBlack {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}
#infobox {
	background-color: #FFF;
	position: fixed;
	top: -600px;
	left: 25%;
	right: 25%;
	border-radius: 10px;
	box-shadow: 0 0 50px #000;
	padding: 25px 0;
	max-height: 400px;
	padding-bottom: 20px;
	z-index: 1100;
}
#contentInfobox {
	max-height: 300px;
	overflow: auto;
	padding: 0 25px;
}
#closeInfobox {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/close.png) left top no-repeat;
	cursor: pointer;
}
#closeInfobox:hover {
	background: url(../images/close_hover.png) left top no-repeat;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
	text-align: center;
	padding-top: 2px;
	list-style-type: none;
}
.pagination li {
	float: left;
	margin: 5px 2px;
	border: solid 1px #36C;
	padding: 3px 6px;
	color: #36C;
	background-color: #FFF;
	-moz-border-radius: 2px;
	border-radius: 3px;
}
.pagination li.active {
	background-color: #36C;
}
.pagination li.disabled {
	color: #CCC;
	border: solid 1px #CCC;
}
.pagination span.firstNav, .pagination span.nextNav {
	background-color: #FFF;
	color: #999;
}
.pagination a {
	/* border: solid 1px #36C;
	padding: 3px 6px;
	color: #36C;
	text-decoration: none;
	-moz-border-radius: 2px; */
	text-decoration: none;
}
.pagination li.active a {
	color: #FFF;
}