{{ form_start(form, {'action': path('resultSearch'), 'method': 'GET'}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}
