		{% set link = '' %}
		{% set title = '' %}
		{% for content in menu.contents %}
			{% if content.lang.id == languagesService.languageDefault.id %}
			{% set link = content.cat.id ~ '-' ~ content.slug %}
			{% set title = content.name %}
			{% endif %}
		{% endfor %}
		<li {% if menu.children is defined %}class="drop"{% endif %}>
			<a href="{# path('catalog-by-cat', {'cat': link}) #}">{{ title }}</a>
		{% if menu.children is defined %}
			<ul class="menuSecondaire">
				{% for menu in menu.children %}
					{% include('main/partials/menuCat.html.twig') %}
				{% endfor %}
			</ul>
		{% endif %}
		</li>