{% extends 'base.html.twig' %}
{% block title %}Page non trouvée !{% endblock %}
	{% block main %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area bg-image--6">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcaump__inner text-center">
						<h2 class="bradcaump-title">404 - Page non trouvée !</h2>
						<!-- <nav class="bradcaump-content">
							<a href="#" class="breadcrumb_item"></a>
							<span class="brd-separator">/</span>
							<span class="breadcrumb_item active">My Account</span>
						</nav> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cart-main-area section-padding--lg bg--white">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 ol-lg-12">
					<h1>Cette page est introuvable, aurait-elle été arrachée de votre livre ?</h1>
					<p>Ne vous inquiétez pas, vous pouvez retrouver le fil de votre lecteur en retournant sur la page d'accueil !</p>
					<a href="{{ path('main') }}" class="btn btn-primary">Retour à l'accueil</a>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}